@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "kanit", sans-serif;
}

#jackets .parent{
    background-color: white;
}


#jackets .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    height: 100vh;
    width: 100%;
    position: relative;
    left: 0;
}
    
#jackets .div1 {
    grid-row: span 3 / span 2;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#jackets .div1 img{
    
    height: 80%;
    width: 80%;
    background-size:cover;
}

#jackets .div2 {
    grid-row: span 3 / span 2;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#jackets .div2 img{
    
    height: 80%;
    width: 80%;
    background-size:cover;
}

#jackets .div3 {
    grid-row: span 3 / span 2;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jackets .div3 img{
    
    height: 80%;
    width: 80%;
    background-size:cover;
}

#jackets .div5 {
    grid-row: span 2/ span 3;
    grid-row-start: 4;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jackets .div5 img{
    
    height: 80%;
    width: 80%;
    background-size:cover;
}

#jackets .div6 {
    grid-row: span 2 / span 3;
    grid-row-start: 4;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jackets .div6 img{
    
    height: 80%;
    width: 80%;
    background-size:cover;
}

#jackets .div7 {
    grid-row: span 2 / span 3;
    grid-row-start: 4;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#jackets .div7 img{
    
    height: 80%;
    width: 80%;
    background-size:cover;
}
        
